# Modified version of the Linux kernel config
Language: Cpp

AccessModifierOffset:                               -4
AlignAfterOpenBracket:                              Align
AlignConsecutiveAssignments:                        false
AlignConsecutiveDeclarations:                       false
AlignConsecutiveMacros:                             true
AlignEscapedNewlines:                               Right
AlignOperands:                                      true
AlignTrailingComments:                              false
AllowAllParametersOfDeclarationOnNextLine:          false
AllowShortBlocksOnASingleLine:                      Empty
AllowShortCaseLabelsOnASingleLine:                  false
AllowShortFunctionsOnASingleLine:                   None
AllowShortIfStatementsOnASingleLine:                false
AllowShortLoopsOnASingleLine:                       false
AlwaysBreakAfterDefinitionReturnType:               None
AlwaysBreakAfterReturnType:                         AllDefinitions
AlwaysBreakBeforeMultilineStrings:                  false
AlwaysBreakTemplateDeclarations:                    false
BinPackArguments:                                   true
BinPackParameters:                                  true
BraceWrapping:
  AfterClass:                                       false
  AfterControlStatement:                            false
  AfterEnum:                                        false
  AfterFunction:                                    true
  AfterNamespace:                                   true
  AfterObjCDeclaration:                             false
  AfterStruct:                                      false
  AfterUnion:                                       false
  AfterExternBlock:                                 false
  BeforeCatch:                                      false
  BeforeElse:                                       true
  IndentBraces:                                     false
  SplitEmptyFunction:                               true
  SplitEmptyRecord:                                 true
  SplitEmptyNamespace:                              true
BreakBeforeBinaryOperators:                         NonAssignment
BreakBeforeBraces:                                  Custom
BreakBeforeInheritanceComma:                        false
BreakBeforeTernaryOperators:                        false
BreakConstructorInitializersBeforeComma:            false
BreakConstructorInitializers:                       BeforeComma
BreakAfterJavaFieldAnnotations:                     false
BreakStringLiterals:                                true
ColumnLimit:                                        100
CompactNamespaces:                                  false
ConstructorInitializerAllOnOneLineOrOnePerLine:     false
ConstructorInitializerIndentWidth:                  8
ContinuationIndentWidth:                            8
Cpp11BracedListStyle:                               true
DerivePointerAlignment:                             false
DisableFormat:                                      false
ExperimentalAutoDetectBinPacking:                   false
FixNamespaceComments:                               false
IndentCaseLabels:                                   false
IndentGotoLabels:                                   false
IndentPPDirectives:                                 AfterHash
IndentWidth:                                        8
IndentWrappedFunctionNames:                         false
JavaScriptQuotes:                                   Leave
JavaScriptWrapImports:                              true
KeepEmptyLinesAtTheStartOfBlocks:                   false
MacroBlockBegin:                                    ''
MacroBlockEnd:                                      ''
MaxEmptyLinesToKeep:                                1
NamespaceIndentation:                               None
ObjCBinPackProtocolList:                            Auto
ObjCBlockIndentWidth:                               8
ObjCSpaceAfterProperty:                             true
ObjCSpaceBeforeProtocolList:                        true

# Taken from git's rules (Except PenaltyBreakAssignment)
PenaltyBreakAssignment:                             80
PenaltyBreakBeforeFirstCallParameter:               30
PenaltyBreakComment:                                10
PenaltyBreakFirstLessLess:                          0
PenaltyBreakString:                                 10
PenaltyExcessCharacter:                             100
PenaltyReturnTypeOnItsOwnLine:                      60

PointerAlignment:                                   Right
ReflowComments:                                     false
SortIncludes:                                       false
SortUsingDeclarations:                              false
SpaceAfterCStyleCast:                               true
SpaceAfterTemplateKeyword:                          true
SpaceBeforeAssignmentOperators:                     true
SpaceBeforeCtorInitializerColon:                    true
SpaceBeforeInheritanceColon:                        true
SpaceBeforeParens:                                  ControlStatements
SpaceBeforeRangeBasedForLoopColon:                  true
SpaceInEmptyParentheses:                            false
SpacesBeforeTrailingComments:                       1
SpacesInAngles:                                     false
SpacesInContainerLiterals:                          false
SpacesInCStyleCastParentheses:                      false
SpacesInParentheses:                                false
SpacesInSquareBrackets:                             false
TabWidth:                                           8
UseTab:                                             ForIndentation
